<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <link rel='stylesheet' type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css" />
        <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
        <link rel='stylesheet' type="text/css" href='/stylesheets/todo.css' />

        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/addTodo.js"></script>
        <script src="/javascripts/addToDone.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="todolist not-done">
                     <h1>Todos</h1>
                        <input type="text" class="form-control add-todo todo-input" placeholder="Add todo">
                            <button id="checkAll" class="btn btn-success">Marcar todas como feitas </button>
                            <button id="add-new-todo" class="btn btn-success">Adicionar</button>
                            <hr>
                            <ul id="sortable" class="list-unstyled" style="overflow-y:scroll; height: 230px;">
                                <% for (let i=0; i < todos.length; i++) { %>
                                    <% if (todos[i].done == false) { %>
                                        <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <button id="<%= todos[i]._id %>" class="item btn btn-default btn-xs pull-left add-as-done">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                    <span style="margin-left: 5px; line-height: 1.7;"><%= todos[i].todo %></span>
                                                </label>
                                            </div>
                                        </li>
                                    <% } %>
                                <% } %>
                            </ul>
                            <div class="todo-footer">
                                <strong><span class="count-todos"> 0 </span></strong> Items Left
                            </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="todolist">
                     <h1>Already Done</h1>
                        <ul id="done-items" class="list-unstyled">
                            <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>